<nav class="navbar">
    <h1>
        <a [routerLink]="['/']">URL Shortener</a>
    </h1>
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/statistics">Top Most Used Sort Links</a>
        </li>
        <!--<li><button class="btn">Home</button></li>
        <li><button class="btn">Top Most Used Sort Links</button></li>-->
    </ul>
</nav>

<div class="container mt-5">
    <router-outlet></router-outlet>
</div>


